<div class="user-index">
  <div class="find-users">
    <div>
      <%= form_tag(users_path, method: "get") do %>
        <div class="form-row">
          <div class="form-group">
            <%= label_tag :last_name, "名前" %>
            <%= text_field_tag :last_name %>
          </div>

          <div class="form-group">
            <%= label_tag :sex, "性別" %>
            <%= select_tag :sex, options_for_select(User.sexes), include_blank: true %>
          </div>

          <div class="form-group">
            <%= label_tag :age, "年齢" %>
            <%= number_field_tag :age_from %>
          </div>
          歳から
          <div class="form-group">
            <%= number_field_tag :age_to %>
          </div>
          歳

          <script>
            $(function() {
              $('#prefecture_id').change(function() {
                var prefecture_id = $("#prefecture_id").val();
                if (prefecture_id !== "") {
                  $.get("<%= prefectures_areas_path %>",
                    { prefecture_id: prefecture_id },
                    function(data){ }
                  );
                }
              });
            });
          </script>

          <div class="form-group">
            <%= label_tag :prefecture_id, "都道府県" %>
            <%= select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name), include_blank: true, id: "prefecture_id" %>
          </div>

          <div class="form-group">
            <%= label_tag :area_id, "市町村区" %>
            <%= select_tag :area_id, options_from_collection_for_select(Area.all, :id, :name), include_blank: true, id: "area_id" %>
          </div>
          <!-- regionからは検索しない -->

        </div>
        <div class="form-row">
          <div class="form-group">
            <%= label_tag :color, "カラー可否" %>
            <%= radio_button_tag(:color, "可能", checked = false) %>
          </div>
          <div class="form-group">
            <%= label_tag :hair_extension, "エクステ可否" %>
            <%= radio_button_tag(:hair_extension, "可能", checked = false) %>
          </div>
          <div class="form-group">
            <%= label_tag :nail, "ネイル希望" %>
            <%= radio_button_tag(:nail, "希望", checked = false) %>
          </div>
          <div class="form-group">
            <%= label_tag :advertisement, "理由" %>
            <%= select_tag :advertisement, options_for_select(User.advertisements), include_blank: true %>
          </div>
          <%= submit_tag "検索", id: "user_find_btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
