<div class="user-index">
  <%= render partial: 'users/form' %>
  <%= will_paginate @users %>
  <% @users.each do |user| %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width: 20%">名前</th>
          <td style="width: 30%"><%= user.full_name %></td>
          <th style="width: 20%">性別</th>
          <td style="width: 30%"><%= user.sex %></td>
        </tr>
        <tr>
          <th scope="row">お住まい</th>
          <td><%= user.prefecture.name %> <%= user.area.name %></td>
          <th scope="row">年齢</th>
          <td><%= user.age %>歳</td>
        </tr>
        <tr>
          <th scope="row">髪質/髪型</th>
          <td><%= user.hair_type %>で<%= user.hair_style %></td>
          <th scope="row">髪質</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">エクステ</th>
          <td><%= user.hair_extension %></td>
          <th scope="row">ネイル</th>
          <td><%= user.nail %></td>
        </tr>
        <tr>
          <th scope="row">カラー</th>
          <td><%= user.color %></td>
          <th scope="row">希望理由</th>
          <td><%= user.advertisement %></td>
        </tr>
        <tr>
          <th scope="row">登録日</th>
          <td><%= user.created_at_to_date %></td>
          <th scope="row">情報更新日</th>
          <td></td>
        </tr>
      </tbody>
    </table>
    <%= link_to '詳細を見る', user_path(user), class: 'nav-link' %>
  <% end %>
</div>
