<div class='user-show'>
  <div class=''>
    <div class=''>
      名前: <%= @user.full_name %>
    </div>
    <div class=''>
      性別: <%= @user.sex %>
    </div>
    <div class=''>
      住まい: <%= @user.prefecture_id %>
    </div>
    <div class=''>
      カラー可否: <%= @user.color %>
    </div>
    <div class=''>
      エクステ可否: <%= @user.hair_extension %>
    </div>
  </div>
  <%= link_to 'メッセージを送る', new_user_message_path(@user), class: 'nav-link' %>
  <%= link_to "プロフィールを更新する", edit_user_path(current_user), class: "nav-link" %>
</div>
