<div class='user-show'>
  <div class=''>
    <div class=''>
      名前: <%= @user.full_name %>
    </div>
    <div class=''>
      性別: <%= @user.sex %>
    </div>
    <div class=''>
      住まい: <%= @user.prefecture_id %>
    </div>
    <div class=''>
      カラー可否: <%= @user.color %>
    </div>
    <div class=''>
      エクステ可否: <%= @user.hair_extension %>
    </div>
  </div>
</div>
