<div class="form">
  <%= form_for(@user, url: sign_up_path) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :last_name, "名前", class: "" %>
        <span class="required name-required">※必須</span>
        <%= f.text_field :last_name, class: "form-control", placeholder: "(例)田中", required: true %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :first_name, "名前", class: "", label: false %>
        <%= f.text_field :first_name, class: "form-control", placeholder: "(例)太郎", required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :birth, "生年月日" %>
      <span class="required">※必須</span>
      <%= raw sprintf(
              f.date_select(
                  :birth,
                  use_month_numbers: true,
                  start_year:        1930,
                  end_year:          (Time.now.year - 18),
                  default:           Date.new(1989, 1, 1),
                  date_separator:    '%s'),
              '年 ', '月 ') + '日' %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.label :sex, "性別" %>
      <span class="required">※必須</span>
      <%= f.radio_button :sex, "女性" %>女性
      <%= f.radio_button :sex, "男性" %>男性
    </div>

    <script>
      $(function() {
        console.log("start");
        $('#user_prefecture_id').change(function() {
          var prefecture_id = $("#user_prefecture_id").val();
          console.log("!!!!!!!!");
          if (prefecture_id !== "") {
            $.get("<%= prefectures_areas_path %>",
              { prefecture_id: prefecture_id },
              function(data){ }
            );
          }
        });
      });
    </script>

    <div class="form-check form-check-inline">
      <%= f.label :prefecture_id, "住まい" %>
      <span class="required">※必須</span>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
    </div>

    <div class="form-check form-check-inline">
      <%= f.label :area_id, "住まい" %>
      <span class="required">※必須</span>
      <%= f.collection_select :area_id, Area.all, :id, :name %>
    </div>


    <div class="form-check form-check-inline">
      <%= f.label :hair_style, "髪型" %>
      <%= f.radio_button :hair_style, "ベリーショート" %>ベリーショート
      <%= f.radio_button :hair_style, "ショート" %>ショート
      <%= f.radio_button :hair_style, "ミディアム" %>ミディアム
      <%= f.radio_button :hair_style, "セミロング" %>セミロング
      <%= f.radio_button :hair_style, "ロング" %>ロング
    </div>

    <div class="form-check form-check-inline">
      <%= f.label :hair_type, "髪質" %>
      <%= f.radio_button :hair_type, "直毛" %>直毛
      <%= f.radio_button :hair_type, "ややクセ毛" %>ややクセ毛
      <%= f.radio_button :hair_type, "強いクセ毛" %>強いクセ毛
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <%= f.label :color, "カラー可否" %>
        <%= f.check_box(:color, {:checked=> false}, "可能", "不可能") %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :hair_extension, "エクステ可否" %>
        <%= f.check_box(:hair_extension, {:checked=> false}, "可能", "不可能") %>
      </div>
      <div class="form-group col-md-2">
        <%= f.label :advertisement, "理由" %>
        <%= f.radio_button :advertisement, "単なる節約のため" %>単なる節約のため
        <%= f.radio_button :advertisement, "モデルを目指しているため" %>モデルを目指しているため
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "メアド" %>
      <span class="required">※必須</span>
      <%= f.email_field :email, class: "form-control", placeholder: "taro@example.com", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <span class="required">※必須</span>
      <%= f.password_field :password, class: "form-control", placeholder: "6文字以上", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <span class="required">※必須</span>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "6文字以上", required: true %>
    </div>

<!--
    <div class="form-group">
      <%= f.label :password, t('view.sign_up.password') %>
      <div class="required">※必須</div>
      <%= f.password_field :password, class: "form-control", placeholder: "6文字以上", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('view.sign_up.password_confirmation') %>
      <div class="required">※必須</div>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "6文字以上", required: true %>
    </div>
 -->

    <div class="btn-confirmation">
      <%= f.submit "登録する", class: "btn btn-block btn-warning", ":disabled" => "!confirmation" %>
    </div>
  <% end %>
</div>
