<h1>first</h1>
<div class="btn-box">
  <%= link_to 'サービス概要', about_path, class: 'btn btn-block btn-warning' %>
</div>
<% if !@current_user %>
  <div class="btn-box">
    <%= link_to '新規登録', sign_up_path, class: 'btn btn-block btn-secondary' %>
  </div>
  <div class="btn-box">
    <%= link_to 'ログイン', sign_in_path, class: 'btn btn-block btn-success' %>
  </div>
<% end %>
<% if @current_user %>
<div class='btn-box'>
  <%= link_to "マイページへ", user_path, class: 'btn btn-block btn-success' %>
</div>
  <div class='btn-box'>
    <%= link_to "ログアウト", sign_out_path, method: :delete, class: 'btn btn-block btn-secondary' %>
  </div>
<% end %>
