<div class="">
  <div class=''>
    <div class=''>
      <div class=''>
        名前: <%= @user.name %>
      </div>
      <div class=''>
        年齢: <%= @user.age %>
      </div>
      <div class=''>
        性別: <%= @user.sex %>
      </div>
      <div class=''>
        カラー可否: <%= @user.color %>
      </div>
      <div class=''>
        エクステ可否: <%= @user.hair_extension %>
      </div>
    </div>
  </div>
</div>
